<phpunit bootstrap="./phpunit.bootstrap.php"
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true">
	<testsuites>
		<testsuite name="WikibaseCodeSniffer">
			<file>./tests/CustomSniffsTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>
